.nav-bar-social {
    position: static;
    padding-top: .5rem;
    padding-left: 0;
}

.navbar-icon-no-decoration {
    list-style-type: none;
    display: inline-block;
    justify-self: center;

}
.row-footer2{
    display: inline-block;
    margin: auto 0rem;
    padding: 0 1rem;
    text-align: justify;
}
.flex-image{
    margin-left: 5%;
}

