:root{
    --main-dark-blue: #00198b;
    --brand-blue: #0d6efd;
}
.nav-bar-right {
    display: inline-block;
    text-align: center;
    margin: 0rem;
    padding: 0rem;
    justify-content: center;
    align-content: center;
}

.navbar-icon-no-decoration {
    list-style-type: none;
    display: inline-block;
    justify-self: center;
    padding: 0rem 0.3rem;
}

.nav-bar-btn {
    position: static;
}

.nav-bar-social {
    position: absolute;
    top: 5%;
    text-align: center;
    margin: 1px;
    padding: 0rem;

}
.home-title{
    color: var(--brand-blue);
}
.home-image{
    width: 100%
}
.main-footer{
    margin: 2rem 0rem;
}
.row-footer{
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 0rem;
}
.row-footer2{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0rem;
}
.flex-image{
    margin: 0rem 3rem;
    max-width: 100%;
}
.row-image{
    margin: 0rem;
    padding: 0rem;
    max-width: 100%;
}
.footer-p{
    margin: 0rem 3rem;
    padding: 0px;
    text-align: justify;
}